<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="pugnet_plprandomcats" id="pugnet_plprandomcats">
            <module before="Magento_Backend" name="Pugnet_PlpRandomCats"/>
        </route>
    </router>
</config>
